* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
body{
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.c-top-nav {
  margin: 10px 0px;
}
.c-bottom-nav {
  background-color: #E31B0E;
}
.nav-wrapper {
  padding: 0px 20px;
}
.c-herosection {
  background-image:linear-gradient(to right top,#000000d9 50%,#00000085),url('../images/heroBanner.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 500px;
}
.c-herosection-intro {
  width: 50%;
  padding: 5em 1em;
}
.c-herosection-intro h2 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 50px;
  font-style: normal;
  line-height: 1.4em;
  letter-spacing: 1px;
  margin: 0px;
}
.c-btn-signup {
  text-transform: capitalize;
  color: #000;
  background-color: #FFD800;
}
.c-btn-signup:hover,
.c-btn-getStarted:hover {
  background-color: #ffd800cf !important;
}
.c-getStarted {
  margin: 20px 0px;
}
.c-btn-getStarted {
  color: #000;
  background-color:#FFD800 !important ;
}
.c-main-meal-wrapper {
  width: 99%;
  margin: 0px auto;
}
.c-meal-title,
.c-popular-meal-title {
  position: relative;
  background-image: linear-gradient(#FFD800 , #FFD800);
  background-position: 9px 90%;
  background-repeat: no-repeat;
  background-size: 99% .3em;
  padding-left: 7px;
  margin: 2em 0em 1em;
}
.c-meal-title {
  width: 16%;
}
.c-popular-meal-title {
  width: 13%;
}
.c-meals-menu {
  padding: 15px 0px;
  z-index: 1;
}
.pinned {
  background-color: #E31B0E;
  width: 100%;
}
.card-image img{
  height: 200px;
}
.c-meals-menu ul{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 95%;
  margin: 0px auto;
}
.c-meals-menu ul li {
  margin-right: 3em;
}
.c-meals-menu ul li:first-child{
  background-color: #adacabd1;
  padding: 10px 25px;
  border-radius: 50px;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.2);
}
.c-meals-menu ul li:not(:first-child) {
  background-color: white;
  color: grey;
  padding: 10px 25px;
  border-radius: 50px;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.2);
}
.c-meal-card-wrapper {
  width: 300px;
}
.c-chip{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 2em;
}
.c-popular-meal {
  width: 99%;
  margin-bottom: 10em;
}
.c-popular-meal h4,
.c-meal-title {
  font-family: 'Poppins', sans-serif;
  letter-spacing: 1px;
}
footer {
  margin-top: auto;
  background-color: #E31B0E !important;
}
.c-page-footer-container {
  width: 95%;
  margin: 0px auto;
}
.c-footer-text {
  color: #FFD800;
  text-decoration: underline;
}
.c-footer-text:hover {
  text-decoration: none;
}

@media (max-width: 768px) {
  .c-meals-menu{
    display: none;
  }
  nav .brand-logo {
    font-size: 2em;
  }
  .nav-wrapper {
    padding: 0px;
  }
  .card-image img{
    height: 200px;
  }
  .c-btn-signup {
    width: 50%;
    text-align: left;
  }
  .c-herosection {
    min-height: auto;
  }
  .c-herosection-intro {
    width: 90%;
  }
  .c-herosection-intro h2 {
    font-size: 2.56rem;
  }
  .c-meals-search-container,
  .c-popular-meal {
    width: 90%;
    margin: 3em auto 0em;
  }
  .c-meal-container {
    padding: 3em 1em;
  }
}