* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
.c-login-wrapper {
  margin: 5em 0;
}
.c-login-container {
  width: 35%;
  padding: 10px 10px;
  margin: 3em auto;
  background-color: #fff;
  box-shadow: 0 0 4px 2px rgba(38,153,251,.18);
}
.c-input-field {
  padding: 10px;
  border: 1px solid rgba(0,0,0,0.1);
  border-radius: .25rem;
}
form {
  padding: 20px;
}
.c-error-response {
  display: block !important;
  padding: 2px 10px;
  margin-bottom: 10px;
  border-radius: 4px;
  background-color: red !important;
}
.c-input-group {
  margin-bottom: 2em;
}
.c-input-group input{
  border: 1px solid rgba(0,0,0,.2);
}
 i { 
  position: absolute; 
}
.icon { 
  padding: 17px; 
  min-width: 40px; 
} 
.c-input-group input{ 
  width: 100%;
  padding: 15px 45px;
}
.c-forgot-password {
  margin-bottom: 10px;
}
.c-btn-login {
  width: 100%;
}
.c-login-optional {
  padding: 20px 0px;
}
@media (max-width: 768px) {
  .c-login-container {
    width: 90%;
    padding: 0px;
  }
}